@import './mixins';

:root {
  --primary-color: #25ac64;
  --accent-color: #c9ffe2;
  --text-color: #606060;
  --light-gray: #c4c4c4;
}

* {
  font-family: 'Open Sans';
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: var(--primary-color);
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: var(--text-color);
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}

h3 {
  color: black;
  margin: 8px 0;
}

footer {
  @include fullwidth-block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: darken(#c4c4c4, 10);
}

#content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);

  @include mobile {
    min-height: calc(100vh - 150px);
  }
}

.field-wrapper {
  width: 90%;
  text-align: left;
  margin: 20px auto;
}

.chart {
  color: black;
  width: 100%;
  padding: 20px 30px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  box-sizing: border-box;
  grid-column: 1 / 3;

  @include landscape-tablet {
    grid-column: inherit;
  }
}

.homepage-headline {
  text-align: center;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

.btn {
  @include btn;
}

.icon-btn {
  cursor: pointer;
}

.link-primary {
  color: var(--primary-color);
}

.deck-card {
  @include deck-card;
}

/* Form */
.form-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin: 20px auto;
  border-radius: 10px;
  @include apply-shadow;

  @include mobile {
    grid-template-columns: 1fr;
    width: 90%;
  }

  @include portrait-tablet {
    width: 575px;
  }

  @include landscape-tablet {
    width: 750px;
  }
}

.sidebar {
  color: white;
  background: var(--primary-color);
  font-size: 28px;
  font-weight: bold;
  padding: 40px 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;

  @include mobile {
    display: none;
  }
}

.form-main {
  padding: 20px 40px;
  border-radius: 0 10px 10px 0;
}

.user-form {
  color: var(--text-color);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;

    @include input-outline;
  }

  .extra-text {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .submit-btn {
    @include btn;
    width: 90%;
    margin: 10px auto;
  }
}
