@import './_variables';
@import './mixins';

@import '../components/common/Navbar/_navbar';
@import '../components/common/Footer/_footer';
@import '../components/common/FormField/_formField';
@import '../components/common/ProgressBar/_progressBar';
@import '../components/common/DeckCard/_deckCard';
@import '../components/common/UserDropdown/_userDropdown';
@import '../components/common/PopupMessage/_popupMessage';

@import '../components/Home/Testimonial/_testimonial';
@import '../components/Home/Testimonials/_testimonials';
@import '../components/Home/HeroSection/_heroSection';
@import '../components/Home/BenefitCard/_benefitCard';
@import '../components/Home/Benefits/_benefits';

@import '../components/Profile/ProfileHeader/_profileHeader';
@import '../components/Profile/ProfileBody/_profileBody';
@import '../components/Profile/Followers/_followers';
@import '../components/Profile/Follower/_follower';

@import '../components/Browse/Searchbar/_searchbar';
@import '../components/Browse/Categories/_categories';
@import '../components/Browse/DeckListItem/_deckListItem';
@import '../components/Browse/DeckList/_deckList';

@import '../components/DeckDetails/DeckHeader/_deckHeader';
@import '../components/DeckDetails/DeckBody/_deckBody';
@import '../components/DeckDetails/CardsList/_cardsList';
@import '../components/DeckDetails/EditDeck/_editDeck';

@import '../pages/Browse/_browse';
@import '../pages/Dashboard/_dashboard';
@import '../pages/Study/study';
@import '../pages/CreateDeck/createDeck';

* {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  color: $primaryColor;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: $textColor;
  margin: 0;
}

h1 {
  font-size: $fontExtraLarge;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}

h3 {
  color: black;
  margin: 8px 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $lightGray;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($lightGray, 10);
}

#content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
}

.homepage-headline {
  text-align: center;
}

.brand {
  font-size: $fontMedium;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

.btn {
  @include btn;
}

.icon-btn {
  cursor: pointer;
}

.link-primary {
  color: $primaryColor;
}

.deck-card {
  @include deck-card;
}

/* Form */
.form-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr;
  width: 750px;
  margin: 20px auto;
  border-radius: 10px;
  @include apply-shadow;
}

.sidebar {
  color: white;
  background: $primaryColor;
  font-size: $fontLarge;
  font-weight: bold;
  padding: 40px 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.form-main {
  padding: 20px 40px;
  border-radius: 0 10px 10px 0;
}

.user-form {
  color: $textColor;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid $lightGray;
    border-radius: 10px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $primaryColor;
    }
  }

  .extra-text {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .submit-btn {
    @include btn;
    width: 90%;
    margin: 10px auto;
  }
}
