@import './_variables';
@import './mixins';

@import '../components/common/Navbar/_navbar';
@import '../components/common/Footer/_footer';
@import '../components/common/Form/_form';
@import '../components/common/FormField/_formField';
@import '../components/common/ProgressBar/_progressBar';

@import '../components/Home/Testimonial/_testimonial';
@import '../components/Home/Testimonials/_testimonials';
@import '../components/Home/HeroSection/_heroSection';
@import '../components/Home/BenefitCard/_benefitCard';
@import '../components/Home/Benefits/_benefits';

@import '../components/Profile/ProfileHeader/_profileHeader';
@import '../components/Profile/ProfileBody/_profileBody';
@import '../components/Profile/DeckCard/_deckCard';
@import '../components/Profile/Followers/_followers';
@import '../components/Profile/Follower/_follower';

@import '../components/Browse/Searchbar/_searchbar';
@import '../components/Browse/Categories/_categories';
@import '../components/Browse/DeckListItem/_deckListItem';
@import '../components/Browse/DeckList/_deckList';

@import '../pages/Browse/_browse';

* {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  color: $primaryColor;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: $textColor;
  margin: 0;
}

h1 {
  font-size: $fontExtraLarge;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}

h3 {
  color: black;
  margin: 8px 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $lightGray;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($lightGray, 10);
}

#content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
}

.homepage-headline {
  text-align: center;
}

.brand {
  font-size: $fontMedium;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

.link-primary {
  color: $primaryColor;
}
