.benefit-card {
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  @include apply-shadow;
}

.benefit-icon {
  background: var(--accent-color);
  padding: 10px;
  border-radius: 50%;
}
