.deck-creation-form {
  color: $textColor;

  h2 {
    color: $primaryColor;
  }

  label {
    display: block;
  }

  input[type='file'] {
    display: none;
  }

  .custom-file-upload {
    @include btn;
  }
}
