.profile-wrapper {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #c2c2c2;
  width: 95%;
  flex-direction: column;

  @include landscape-tablet {
    flex-direction: row;
  }

  @include desktop {
    width: 80%;
  }
}

.user-info {
  display: flex;
  flex-direction: column;

  @include landscape-tablet {
    flex-direction: row;
  }
}

.user-name {
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;

  @include landscape-tablet {
    text-align: left;
  }
}

.user-details {
  margin: 0 20px;
  align-self: flex-end;
  padding-bottom: 10px;
  align-self: center;

  @include landscape-tablet {
    alig-self: left;
  }
  p {
    display: flex;
    align-content: center;
    margin: 10px 0 0 0;
    justify-content: center;

    @include landscape-tablet {
      justify-content: left;
    }
  }
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;

  @include landscape-tablet {
    margin: 0 20px 0 0;
  }
}

.profile-icon {
  color: var(--primary-color);
  margin-right: 10px;
}

.profile-icon-text {
  display: inline-block;
  height: 20px;
  font-size: 16px;
}

.action-btn {
  @include btn;
  display: block;
  border-radius: 10px;
  margin: 0 auto;

  @include landscape-tablet {
    margin: 0;
  }
}
