@import '../../../sass/mixins';

.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 20px auto;
  gap: 10px;

  @include desktop {
    width: 80%;
  }
}

.card-preview {
  width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;

  span {
    padding: 10px;
    overflow: hidden;
  }

  span:nth-of-type(1) {
    border-right: 1px solid var(--light-gray);
  }
}
