.followers {
  @include mobile {
    width: 100%;
  }

  @include portrait-tablet {
    width: 100%;
  }

  @include landscape-tablet {
    width: 300px;
  }
}

.followers-header {
  span {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 4px 0;
    color: $lightGray;
    border-bottom: 1px solid $lightGray;
    width: 50%;
    @include landscape-tablet {
      width: 150px;
    }
  }

  span.active {
    font-weight: bold;
    color: black;
    border-color: black;
  }
}
