.deck-info {
  width: 100%;
  margin-top: 10px;
}

.deck-list-item {
  @include deck-card;
  box-sizing: border-box;
  padding: 20px 20px;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
  }

  img {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .deck-title {
    color: black;
  }

  .deck-details {
    color: $textColor;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.deck-icon {
  display: inline-flex;
  padding: 5px 0;

  .material-icons-outlined {
    margin-right: 2px;
  }

  span {
    margin-right: 5px;
  }
}
